# Custom environment variables
UPDATE_ON_START=true
SCHEDULED_UPDATES=true
PUID=1000
PGID=100
TZ=America/New_York

# docker-gvm environment variables
GVM_USER=admin
GVM_PASSWORD=1qaz2wsx#EDC
GVMD_MAX_IPS_PER_TARGET=4096
GSA_TIMEOUT=600
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587